.sass-cache/
*.css.map
*.sass.map
*.scss.map
/dist
/node_modules
/storybook-static
/.work

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.vscode
/tools
tools-web-components.code-workspace
