# compiled output
/dist/

# dependencies
/node_modules/
/charts/

# misc
/coverage/
.eslintcache
.lintstagedrc.json
/dist/
/storybook-static/
/.yarn
/.vscode
/CHANGELOG.md
/tools
/*.json
/.work
src/shared/styles/colors.scss
