:host {
  @apply flex;
}

// base styles

.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}

.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  border-left-color: initial;
  transform-origin: center left;
}

.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
}

.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

// sizes

.size-medium {
  @apply px-2 py-2 rounded-4 text-10 not-italic font-600 leading-12 font-inter shadow-neutral-drop-shadow-1xl;

  &[data-placement^='top'] > .tippy-arrow {
    bottom: 0;
  }

  &[data-placement^='top'] > .tippy-arrow:before {
    bottom: -6px;
    left: 2px;
    border-width: 6px 6px 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow {
    top: 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow:before {
    top: -6px;
    left: 2px;
    border-width: 0 6px 6px;
  }

  &[data-placement^='left'] > .tippy-arrow {
    right: 0;
  }

  &[data-placement^='left'] > .tippy-arrow:before {
    border-width: 6px 0 6px 6px;
    right: -6px;
    top: 2px;
  }

  &[data-placement^='right'] > .tippy-arrow {
    left: 0;
  }

  &[data-placement^='right'] > .tippy-arrow:before {
    left: -6px;
    top: 2px;
    border-width: 6px 6px 6px 0;
  }
}

.size-large {
  @apply px-3 py-2 rounded-8 text-12 not-italic font-400 leading-20 font-inter shadow-neutral-drop-shadow-1xl;

  &[data-placement^='top'] > .tippy-arrow {
    bottom: 0;
  }

  &[data-placement^='top'] > .tippy-arrow:before {
    bottom: -8px;
    left: 0;
    border-width: 8px 8px 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow {
    top: 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
    left: 0;
    border-width: 0 8px 8px;
  }

  &[data-placement^='left'] > .tippy-arrow {
    right: 0;
  }

  &[data-placement^='left'] > .tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    right: -8px;
  }

  &[data-placement^='right'] > .tippy-arrow {
    left: 0;
  }

  &[data-placement^='right'] > .tippy-arrow:before {
    left: -8px;
    border-width: 8px 8px 8px 0;
  }
}

// variants

.variant-dark {
  @apply text-neutral-100 bg-neutral-30;

  &[data-placement^='top'] .tippy-arrow:before {
    @apply border-t-neutral-30;
  }
  &[data-placement^='bottom'] .tippy-arrow:before {
    @apply border-b-neutral-30;
  }
  &[data-placement^='left'] .tippy-arrow:before {
    @apply border-l-neutral-30;
  }
  &[data-placement^='right'] .tippy-arrow:before {
    @apply border-r-neutral-30;
  }
  & > .tippy-backdrop {
    @apply bg-neutral-30;
  }
  & > .tippy-svg-arrow {
    @apply fill-neutral-30;
  }
}

.variant-light {
  @apply text-neutral-20 bg-neutral-97;

  &[data-placement^='top'] .tippy-arrow:before {
    @apply border-t-neutral-97;
  }
  &[data-placement^='bottom'] .tippy-arrow:before {
    @apply border-b-neutral-97;
  }
  &[data-placement^='left'] .tippy-arrow:before {
    @apply border-l-neutral-97;
  }
  &[data-placement^='right'] .tippy-arrow:before {
    @apply border-r-neutral-97;
  }
  & > .tippy-backdrop {
    @apply bg-neutral-97;
  }
  & > .tippy-svg-arrow {
    @apply fill-neutral-97;
  }
}

.variant-success {
  @apply text-neutral-100 bg-green-54;

  &[data-placement^='top'] .tippy-arrow:before {
    @apply border-t-green-54;
  }
  &[data-placement^='bottom'] .tippy-arrow:before {
    @apply border-b-green-54;
  }
  &[data-placement^='left'] .tippy-arrow:before {
    @apply border-l-green-54;
  }
  &[data-placement^='right'] .tippy-arrow:before {
    @apply border-r-green-54;
  }
  & > .tippy-backdrop {
    @apply bg-green-54;
  }
  & > .tippy-svg-arrow {
    @apply fill-green-54;
  }
}

.variant-danger {
  @apply text-neutral-100 bg-red-65;

  &[data-placement^='top'] .tippy-arrow:before {
    @apply border-t-red-65;
  }
  &[data-placement^='bottom'] .tippy-arrow:before {
    @apply border-b-red-65;
  }
  &[data-placement^='left'] .tippy-arrow:before {
    @apply border-l-red-65;
  }
  &[data-placement^='right'] .tippy-arrow:before {
    @apply border-r-red-65;
  }
  & > .tippy-backdrop {
    @apply bg-red-65;
  }
  & > .tippy-svg-arrow {
    @apply fill-red-65;
  }
}

// themes

.tippy-box[data-theme~='dark-medium'] {
  @apply variant-dark size-medium;
}

.tippy-box[data-theme~='dark-large'] {
  @apply variant-dark size-large;
}

.tippy-box[data-theme~='light-medium'] {
  @apply variant-light size-medium;
}

.tippy-box[data-theme~='light-large'] {
  @apply variant-light size-large;
}

.tippy-box[data-theme~='success-medium'] {
  @apply variant-success size-medium;
}

.tippy-box[data-theme~='success-large'] {
  @apply variant-success size-large;
}

.tippy-box[data-theme~='danger-medium'] {
  @apply variant-danger size-medium;
}

.tippy-box[data-theme~='danger-large'] {
  @apply variant-danger size-large;
}
