/**
  * @file Fonts
  *
  * This file contains all fonts used in designs.
  */

$font-file-path: '..' !default;

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/assets/fonts/Inter-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/assets/fonts/Inter-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/assets/fonts/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/assets/fonts/Inter-ExtraBold.woff2')
    format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Mono';
  src: url('#{$font-file-path}/assets/fonts/PT Mono Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  src: url('#{$font-file-path}/assets/fonts/PT Mono Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apax';
  src: url('#{$font-file-path}/assets/fonts/Apax-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apax';
  src: url('#{$font-file-path}/assets/fonts/Apax-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apax';
  src: url('#{$font-file-path}/assets/fonts/Apax-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apax';
  src: url('#{$font-file-path}/assets/fonts/Apax-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
