/**
  * @file Fonts (Tailwind CSS v4)
  *
  * This file contains all fonts used in designs.
  * Consumers can override $font-file-path before importing if using Sass.
  */

$font-file-path: '/assets/fonts' !default;

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('#{$font-file-path}/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Mono';
  src: url('#{$font-file-path}/PT-Mono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  src: url('#{$font-file-path}/PT-Mono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
