/**
  * @file Main styles
  *
  * This file contain general styles that should be applied to host page.
  */

@use './generated/colors';
@use './fonts';
@use './typography';
@use './utilities';
@use './variables';
@use './tippy';

@tailwind base;
@tailwind components;
@tailwind utilities;

strong {
  @apply font-600;
}
