.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}

.tippy-arrow::before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: initial;
  transform-origin: center left;
}

.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
}

// sizes

.tippy-size-medium {
  padding: 0.5rem;
  border-radius: var(--radius-4);
  font-size: var(--text-10);
  font-style: normal;
  font-weight: var(--font-600);
  line-height: var(--leading-12);
  font-family: var(--font-inter);
  box-shadow: var(--shadow-neutral-shadow-round-1xl);

  &[data-placement^='top'] > .tippy-arrow {
    bottom: 0;
  }

  &[data-placement^='top'] > .tippy-arrow::before {
    bottom: -6px;
    left: 2px;
    border-width: 6px 6px 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow {
    top: 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    top: -6px;
    left: 2px;
    border-width: 0 6px 6px;
  }

  &[data-placement^='left'] > .tippy-arrow {
    right: 0;
  }

  &[data-placement^='left'] > .tippy-arrow::before {
    border-width: 6px 0 6px 6px;
    right: -6px;
    top: 2px;
  }

  &[data-placement^='right'] > .tippy-arrow {
    left: 0;
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    left: -6px;
    top: 2px;
    border-width: 6px 6px 6px 0;
  }
}

.tippy-size-large {
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-8);
  font-size: var(--text-12);
  font-style: normal;
  font-weight: var(--font-400);
  line-height: var(--leading-20);
  font-family: var(--font-inter);
  box-shadow: var(--shadow-neutral-shadow-round-1xl);

  &[data-placement^='top'] > .tippy-arrow {
    bottom: 0;
  }

  &[data-placement^='top'] > .tippy-arrow::before {
    bottom: -8px;
    left: 0;
    border-width: 8px 8px 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow {
    top: 0;
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    top: -8px;
    left: 0;
    border-width: 0 8px 8px;
  }

  &[data-placement^='left'] > .tippy-arrow {
    right: 0;
  }

  &[data-placement^='left'] > .tippy-arrow::before {
    border-width: 8px 0 8px 8px;
    right: -8px;
  }

  &[data-placement^='right'] > .tippy-arrow {
    left: 0;
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    left: -8px;
    border-width: 8px 8px 8px 0;
  }
}

// variants

.tippy-variant-dark {
  color: var(--neutral-100);
  background-color: var(--neutral-30);

  &[data-placement^='top'] .tippy-arrow::before {
    border-top-color: var(--neutral-30);
  }

  &[data-placement^='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--neutral-30);
  }

  &[data-placement^='left'] .tippy-arrow::before {
    border-left-color: var(--neutral-30);
  }

  &[data-placement^='right'] .tippy-arrow::before {
    border-right-color: var(--neutral-30);
  }

  & > .tippy-backdrop {
    background-color: var(--neutral-30);
  }

  & > .tippy-svg-arrow {
    fill: var(--neutral-30);
  }
}

.tippy-variant-light {
  color: var(--neutral-20);
  background-color: var(--neutral-97);

  &[data-placement^='top'] .tippy-arrow::before {
    border-top-color: var(--neutral-97);
  }

  &[data-placement^='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--neutral-97);
  }

  &[data-placement^='left'] .tippy-arrow::before {
    border-left-color: var(--neutral-97);
  }

  &[data-placement^='right'] .tippy-arrow::before {
    border-right-color: var(--neutral-97);
  }

  & > .tippy-backdrop {
    background-color: var(--neutral-97);
  }

  & > .tippy-svg-arrow {
    fill: var(--neutral-97);
  }
}

.tippy-variant-white {
  color: var(--neutral-20);
  background-color: var(--neutral-100);

  &[data-placement^='top'] .tippy-arrow::before {
    border-top-color: var(--neutral-100);
  }

  &[data-placement^='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--neutral-100);
  }

  &[data-placement^='left'] .tippy-arrow::before {
    border-left-color: var(--neutral-100);
  }

  &[data-placement^='right'] .tippy-arrow::before {
    border-right-color: var(--neutral-100);
  }

  & > .tippy-backdrop {
    background-color: var(--neutral-100);
  }

  & > .tippy-svg-arrow {
    fill: var(--neutral-100);
  }
}

.tippy-variant-success {
  color: var(--neutral-100);
  background-color: var(--green-54);

  &[data-placement^='top'] .tippy-arrow::before {
    border-top-color: var(--green-54);
  }

  &[data-placement^='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--green-54);
  }

  &[data-placement^='left'] .tippy-arrow::before {
    border-left-color: var(--green-54);
  }

  &[data-placement^='right'] .tippy-arrow::before {
    border-right-color: var(--green-54);
  }

  & > .tippy-backdrop {
    background-color: var(--green-54);
  }

  & > .tippy-svg-arrow {
    fill: var(--green-54);
  }
}

.tippy-variant-danger {
  color: var(--neutral-100);
  background-color: var(--red-65);

  &[data-placement^='top'] .tippy-arrow::before {
    border-top-color: var(--red-65);
  }

  &[data-placement^='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--red-65);
  }

  &[data-placement^='left'] .tippy-arrow::before {
    border-left-color: var(--red-65);
  }

  &[data-placement^='right'] .tippy-arrow::before {
    border-right-color: var(--red-65);
  }

  & > .tippy-backdrop {
    background-color: var(--red-65);
  }

  & > .tippy-svg-arrow {
    fill: var(--red-65);
  }
}

// themes

.tippy-box[data-theme~='dark-medium'] {
  @extend .tippy-variant-dark;
  @extend .tippy-size-medium;
}

.tippy-box[data-theme~='dark-large'] {
  @extend .tippy-variant-dark;
  @extend .tippy-size-large;
}

.tippy-box[data-theme~='light-medium'] {
  @extend .tippy-variant-light;
  @extend .tippy-size-medium;
}

.tippy-box[data-theme~='light-large'] {
  @extend .tippy-variant-light;
  @extend .tippy-size-large;
}

.tippy-box[data-theme~='white-medium'] {
  @extend .tippy-variant-white;
  @extend .tippy-size-medium;
}

.tippy-box[data-theme~='white-large'] {
  @extend .tippy-variant-white;
  @extend .tippy-size-large;
}

.tippy-box[data-theme~='success-medium'] {
  @extend .tippy-variant-success;
  @extend .tippy-size-medium;
}

.tippy-box[data-theme~='success-large'] {
  @extend .tippy-variant-success;
  @extend .tippy-size-large;
}

.tippy-box[data-theme~='danger-medium'] {
  @extend .tippy-variant-danger;
  @extend .tippy-size-medium;
}

.tippy-box[data-theme~='danger-large'] {
  @extend .tippy-variant-danger;
  @extend .tippy-size-large;
}
