@source './index.ts';
@import '../../shared/styles/generated/component-v4.css';

.lukso-wizard-circle::after {
  width: 0;
}

.lukso-wizard-circle.completed::after {
  width: calc(100% - 16px);
}

.lukso-wizard-circle.current::after {
  width: 0;
}

.lukso-wizard-circle.current.animated-step::after {
  width: calc(100% - 16px);
}
